
$white: rgb(255,255,255); 
$black: rgb(0,0,0);
$grey: #AAAAAA;
$darkGrey: #333333;
$blue: #0000FF;
$red: #FF0000;
$green: #22CC22;
$darkGreen: #33AA33;

$border: 1px solid $white;

.box {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
}

body
{
	background-color: $black;
	margin: auto;
	color: $white;
}

.headerImage
{
	display: block;
	margin: 0 auto;
	margin-left: auto;
	margin-right:auto;

}

.left
{
	display:none;
}

.right
{
	display:none;
}

.bottom
{
	display:block;	
	margin: 0 auto;
	margin-left: auto;
	margin-right: auto;
	max-width:90%;
	max-width: 502px;
	max-height:200px;


}

h1
{
	text-align:center;
}

p
{
	margin: 10px auto;
	margin-right: 10px;
	margin-left: 10px;
	padding: 10px;
	position: relative;
}

.smaLetur
{
	margin: 0 auto;
	padding: 0;
	padding-top: 10px;
	font-size:12px;
}

a
{
	text-decoration: underline;
	color: $green;
}
li a:hover
{
	font:bold 18px times;
}
a:visited
{
	color: $red;
}

@media screen and(max-width: 490px){

	.ddMenu
	{
		color: $white;
		position: fixed;
		top:7%;
		right:2%;
		border: 1px solid $white;
		width: 24px;
		height: 24px;
		text-align: center;

	}

	h1
	{
		margin-top:15%;
	}

	.partOfMenu
	{
		display: none;

	}

	.ddMenu:hover
	{
		.onlyThis
		{
			color: $grey;
		}
		
	}

	.ddMenu:focus
	{
		width:1px;
		height:1px;
		border: 1px solid $black;

		.partOfMenu 
		{
			position: relative;
			display: block;
			width: 80%;
			background-color: transparent;
			border: $border;
			margin-left: auto;

	
		}
		
		display: none;

		.onlyThis
		{
			display: none;
		}
		
		

	}
	
	.partOfMenu a:hover
	{
		background-color: $green;
		border: 1px solid $red;
	}

	.bottom
	{
		display: none;
	}
	
}

@media screen and(min-width: 490px){
	.ddMenu
	{
		display: none;
	}

	.partOfMenu
	{
		display: block;
		height:30px;
		text-align: center;
		background-color: $darkGreen;
		width:100%;
		border: 1px solid $red;
		top:50%;
		position: relative;
		margin-top:10px;
		p
		{
			display: none;
		}	
		a
		{
			color: $black;
			text-decoration: none;
			margin: 10px 10%;
			font:italic bold 20px times,sans-serif;	
			border:1px solid transparent;
			width: 34%;
			position: relative;
			top:12%;
		}
		a:hover
		{
			text-decoration: underline;
			
		}
	}

	 
}

@media screen and(min-width: 960px){

	.left
	{
		float: left;
		position: fixed;
		display: block;
		top:20%;
		left:0px;		
		width: 220px;
		margin: 10px;

	}
	.leftImage
	{
		position:absolute;
		display:inline-block;	
		margin: 0 auto;
		margin-left: auto;
		margin-right: auto;
		max-width:90%;

	}

}

@media screen and(max-width: 1080px){
	
	body
	{
		width:100%;
		height:100%;
	}

	.headerImage
	{
		
		max-width: 90%;
	}



}

@media screen and(min-width:10800px){

}