
$white: rgb(255,255,255); 
$black: rgb(0,0,0);
$grey: #AAAAAA;
$border: 1px solid $white;

.box {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
}

body
{
	background-color: $black;
	margin: auto;
	color: $white;
}

.headerImage
{
	display: block;
	margin: 0 auto;
	margin-left: auto;
	margin-right:auto;

}


@media screen and(max-width: 960px){

	.ddMenu
	{
		color: $white;
		position: fixed;
		top:90px;
		right:5px;
		border: 1px solid $white;
		width: 24px;
		height: 24px;
		text-align: center;

	}

	.partOfMenu
	{
		visibility: hidden;
	}

	.ddMenu:hover
	{
		.onlyThis
		{
			color: $grey;
		}
		
	}

	.ddMenu:focus
	{
		.partOfMenu 
		{

			visibility: visible;
			width: 99%;
			background-color: $black;

		}
	}
	
	.partOfMenu:hover
	{
		background-color: $grey;
	}
	
}

@media screen and(max-width: 1080px){
	
	body
	{
		width:100%;
		height:100%;
	}

	.headerImage
	{
		
		max-width: 90%;
	}

}

@media screen and(min-width:10800px){

}